.responsiveTableProjects {
  padding: 0;
  li {
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .tableHeader {
    padding: 25px 35px;
    /* background-color: #315951e5; */
    background-color: var(--tableHdBg);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .tableRow {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
  }
  .col1 {
    flex-basis: 10%;
  }
  .col2 {
    flex-basis: 25%;
  }
  .col3 {
    flex-basis: 15%;
  }
  .col4 {
    flex-basis: 35%;
  }
  .col5 {
    flex-basis: 15%;
  }

  .tableRow div i {
    cursor: pointer;
  }
  .text-modal {
    color: #0e382f !important;
  }
  /***************************************/

  /*************************************************/

  @media all and (max-width: 650px) {
    .tableHeader {
      display: none;
    }

    li {
      display: block;
    }
    .col {
      width: 100% !important;
      flex-basis: 100%;
    }
    .col {
      width: 50%;
      display: flex;
      padding: 10px 0;
      &:before {
        color: #9facb9;
        content: attr(data-label);
        flex-basis: 50%;
        font-size: 15px;
      }
    }
  }
}

.noImg {
  width: 50px !important;
  height: 50px !important;
}

/*Filtaration*/
.filterInput:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  filter: drop-shadow(2px 2px 2px #466a63);
}

.filterInput::placeholder {
  padding-left: 30px;
  margin-left: 30px !important;
}
.inputSearch {
  position: relative;
}
.userSearchIcon {
  position: absolute;
  top: 22px;
  left: 25px;
}
/*******************************************************/
.todo {
  background-color: #0097e6;
}
.inProgress {
  background-color: #fbc531;
}
.done {
  background-color: #44bd32;
}
.todo,
.inProgress,
.done {
  border-radius: 35%;
  padding: 10px;
  width: fit-content;
  filter: drop-shadow(0px 0px 4px var(--text));
}

.taskBody {
  min-height: 300px;
  /* max-height: 500px; */
  /* overflow-y: auto; */
}
.cursorGrab {
  cursor: grab;
}
.cursorGrabbing {
  cursor: grabbing;
}
.task {
  min-height: 50px;
}

.borderDrag {
  border: solid #ef9b28 4px;
}
.taskBody {
  min-height: 300px;
  /* max-height: 500px; */
  /* overflow-y: auto; */
}
.cursorGrab {
  cursor: grab;
}
.cursorGrabbing {
  cursor: grabbing;
}
.task {
  min-height: 50px;
}

.borderDrag {
  border: solid #ef9b28 4px;
}
