.dropdown-item {
  cursor: pointer;
}
.darkLightBtn {
  margin-left: auto !important;
}
@media (max-width: 575px) {
  .user-box {
    text-align: center !important;
  }
  .dropdown-menu {
    --bs-dropdown-min-width: 6rem !important;
  }
  .navLogo {
    width: 78%;
    height: 43px;
  }
  .navbar-brand {
    margin-left: 32px !important;
  }
}
@media (max-width: 425px) {
  .user-info {
    font-size: 10px !important;
  }
}
@media (min-width: 575px) {
  .navLogo {
    width: 100%;
    height: 54px;
  }
}
