.linkBtn {
  background-color: #ef9b28;
  color: #fff;
  padding: 5px;
  border: 2px solid #ef9b28;
  border-radius: 5px;
  transition: all 0.4s;
  overflow: hidden;
}
.linkBtn:hover {
  border: 2px solid #ef9b28;
  background-color: #fff;
  color: #ef9b28;
}
.navLink {
  color: white !important;
}
.linkBtn:hover .navLink {
  color: #ef9b28 !important;
}
.navUserImg {
  width: 50px;
  height: 50px;
  background-color: #ef9b28;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileUserImg {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userImg {
  width: 200px;
  height: 200px;
  background-color: #ef9b28;
  overflow: hidden;
  display: flex;
}
.profileName {
  font-size: 75px;
}
.activeLink {
  background-color: var(--sideBg);
  border: none;
  box-shadow: 1px 1px 3px 1px gray;
}
.activeLink:hover {
  background-color: var(--sideBg);
  border: none;
}
