* {
  text-decoration: none !important;
}

/* register style */

.bg-reg {
  background-image: url("/src/assets/images/bg-register.svg");
}

.bg-login {
  background-image: url("/src/assets/images/bg-login.svg");
}

.bg-forget {
  background-image: url("/src/assets/images/bg-forget.svg");
}

.bg-change {
  background-image: url("/src/assets/images/bg-change.svg");
}

.bg-reset {
  background-image: url("/src/assets/images/bg-reset.svg");
}

.bg-verify {
  background-image: url("/src/assets/images/bg-verify.svg");
}

.form {
  background-color: rgba(49, 89, 81, 0.9);
}

.bg-main {
  background: #ef9b28 !important;
}

.text-main {
  color: #ef9b28 !important;
}

.container-auth-form {
  width: 90%;
  margin: 0 auto;
}

.form-title h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  position: relative;
}

.form-title p {
  position: absolute;
  bottom: 20%;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  color: #fff;
}

.form-title h3::after {
  content: "";
  position: absolute;
  background: #ef9b28;
  width: 16px;
  height: 3.57px;
  top: 82%;
  right: 97%;
}

.input-container {
  position: relative;
  margin: 35px 0;
}

.input-field {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  color: #fff;
}

.input-field::placeholder {
  color: #ccc;
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #ef9b28;
  transition: all 0.3s ease;
}

.input-field:focus+.input-label {
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  top: -20px;
  font-size: 16px;
  color: #ef9b28;
}

.input-field:focus+.input-label+.input-highlight {
  width: 100%;
}

/* main btn */
.main-btn {
  background-color: #ef9b28;
  padding: 14px 80px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 3px dashed #ef9b28;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.4s;
}

.main-btn span:last-child {
  display: none;
}

.main-btn:hover {
  transition: 0.4s;
  border: 3px dashed #ef9b28;
  background-color: #fff;
  color: #ef9b28;
}

.main-btn:active {
  background-color: #ef9b28;
}

/* btn loading */
.loader {
  font-size: 18px;
  font-weight: 500;
}

.loader span {
  display: inline-flex;
}

.loader span:nth-child(2) {
  letter-spacing: -1em;
  overflow: hidden;
  animation: reveal 700ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}

@keyframes reveal {

  0%,
  100% {
    opacity: 0.5;
    letter-spacing: -1em;
  }

  50% {
    opacity: 1;
    letter-spacing: 0em;
  }
}

.formImage {
  width: 120px;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1fff01f;
}

.formImage input {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 8%;
  left: 3%;
  cursor: pointer;
  opacity: 0;
}

.formImage span i {
  position: absolute;
  top: 75%;
  right: 3%;
  font-size: 15px;
  color: #fff !important;
  background-color: #ef9b28;
  padding: 7px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.group-input {
  position: relative;
}

.icon {
  position: absolute;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: #ef9b28;
  top: 10%;
  left: 90%;
}

/* .form-title h3::first-letter {
  border-bottom: 4px solid #ef9b28;
} */